<h2>Novo Livro</h2>

<%= form_for @livro do |f| %>

    <%= f.label 'Titulo:' %>
    <%= f.text_field :titulo,
        placeholder: 'Titulo do Livro' %>

    <%= f.label 'Ano:' %>
    <%= f.number_field :ano, in: 2000..2100 %>

    <%= f.submit 'Salvar' %>

<% end %>