<table>
    <thead> 
        <th>Título</th><th>Prioridade</th><th>Data</th><th>Status</th>
    </thead>
    <tbody>
        <% for t in @tarefas %>
        <tr>
            <td>
                <a href="/tarefa/<%= t.titulo %>">
                <%= t.titulo %>
                </a>
            </td>
            <td>
                <span class="desktop">
                    <%= t.prioridade %>
                </span>                
                <span class="mobile <%= t.prioridade.downcase %>">
                    <%= t.prioridade[0] %>
                </span>
            </td>
            <td><%= t.data.strftime('%d/%m/%Y') %></td>
            <td><%= t.status %></td>
        </tr>
        <% end %>
    </tbody>
</table>